generator client {
    provider = "prisma-client-js"
}

datasource db {
    provider = "postgresql"
    url      = env("DB_CONNECTION_STRING")
}

model CodeIdToUUID {
    id         Int              @id @default(autoincrement())
    code_id    String           @unique
    uuid       String
    created_at DateTime         @default(now())
    code       PassportAuthCode @relation(fields: [code_id], references: [id], onDelete: Cascade)

    @@map("code_id_to_uuid")
}

model PassportAccessToken {
    id         String   @id
    user_id    BigInt?
    client_id  BigInt
    name       String?
    scopes     String?
    revoked    Boolean
    created_at DateTime?
    updated_at DateTime?
    expires_at DateTime?

    @@index([user_id])
    @@map("oauth_access_tokens")
}

model PassportAuthCode {
    id           String        @id
    user_id      BigInt
    client_id    BigInt
    scopes       String?
    revoked      Boolean
    expires_at   DateTime?
    CodeIdToUUID CodeIdToUUID?

    @@index([user_id])
    @@map("oauth_auth_codes")
}

model PassportRefreshToken {
    id              String   @id
    access_token_id String
    revoked         Boolean
    expires_at      DateTime?

    @@index([access_token_id])
    @@map("oauth_refresh_tokens")
}

model Client {
    id                     BigInt    @id @default(autoincrement())
    user_id                BigInt?
    client_name            String    @map("name")
    client_secret          String?   @map("secret")
    provider               String?
    redirect               String
    personal_access_client Boolean
    password_client        Boolean
    revoked                Boolean
    created_at             DateTime?
    updated_at             DateTime?

    @@index([user_id])
    @@map("oauth_clients")
}

model Option {
    id    Int    @id @default(autoincrement())
    name  String @map("option_name")
    value String @map("option_value")

    @@map("options")
}

model Player {
    pid           Int      @id @default(autoincrement())
    uid           Int
    name          String
    tid_cape      Int      @default(0)
    last_modified DateTime
    tid_skin      Int      @default(-1)
    uuid          String?

    @@map("players")
}

model User {
    uid                Int      @id @default(autoincrement())
    email              String
    nickname           String   @default("")
    locale             String?
    score              Int
    avatar             Int      @default(0)
    password           String
    ip                 String
    is_dark_mode       Boolean  @default(false)
    permission         Int      @default(0)
    last_sign_at       DateTime
    register_at        DateTime
    verified           Boolean  @default(false)
    verification_token String   @default("")
    remember_token     String?

    @@map("users")
}

model UUID {
    id         Int       @id @default(autoincrement())
    pid        Int?      @unique
    name       String    @unique
    uuid       String    @unique
    created_at DateTime?
    updated_at DateTime?
    player     Player?   @relation(fields: [pid], references: [pid], onDelete: Cascade)

    @@map("uuid")
}

model AuthorizationCode {
    id         String   @id
    payload    Json
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_authorization_codes")
}

model DeviceCode {
    id         String   @id
    payload    Json
    userCode   String?
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_device_codes")
}

model RefreshToken {
    id         String   @id
    payload    Json
    uid        String?  @unique
    consumed   Boolean  @default(false)
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_refresh_tokens")
}

model Grant {
    id         String   @id
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_grants")
}

model Interaction {
    id         String   @id
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_interactions")
}

model Session {
    id         String   @id
    payload    Json
    uid        String?  @unique
    created_at DateTime @default(now())
    updated_at DateTime @updatedAt

    @@map("yggc_sessions")
}
